In [1]:
import pandas as pd
from pymongo import MongoClient
import requests
from dotenv import load_dotenv
import numpy as np

load_dotenv()

True

# 1) Cleanse

In [2]:
client = MongoClient("mongodb://localhost:27017/")

In [3]:
db = client.companies

In [4]:
companies = db.companies.find()

In [5]:
data_companies = pd.DataFrame(companies)

In [6]:
data_companies.head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,video_embeds,screenshots,external_links,partners,founded_month,founded_day,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],9.0,15.0,NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],10.0,17.0,NaN,NaN,NaN,NaN

In [7]:
#criterios: founded year 2003??????????????????????????????????????
companies = db.companies.find({"$and":[
                                            {"offices": {"$exists": True}},
                                            {"offices": {"$ne": None}}, 
                                            {"$and" : [{"offices.latitude": {"$exists": True}}, {"offices.longitude": {"$exists": True}}]},
                                            {"category_code": {"$exists": True}},
                                            {"category_code": {"$ne": None}}, 
                                            {"founded_year": {"$exists": True}}, 
                                            {"founded_year": {"$gte": 2003}},
                                            {"deadpooled_year": None},
                                            {"number_of_employees": {"$exists": True}},
                                            {"number_of_employees": {"$gte": 10}},
                                            {"total_money_raised": {"$exists": True}},
                                            {"total_money_raised":{"$ne":None}},
                                            {"total_money_raised": {"$not":{"$size":0}}}, 
                                            
                                            ]
                                            },
                                            {"_id": 0, "crunchbase_url": 0, "products": 0, 
                                             "acquisition": 0, "acquisitions": 0, "video_embeds": 0, 
                                             "screenshots": 0, "external_links": 0, "partners": 0, 
                                             "image": 0, 
                                             'deadpooled_day': 0, 'deadpooled_month': 0, 
                                             'deadpooled_url': 0, 'deadpooled_year': 0,
                                            }
                                     )

In [8]:
companies = pd.DataFrame(companies)
offices = companies.set_index('name').offices.apply(pd.Series).stack().reset_index(level=-1, drop=True).reset_index()
offices.columns = ['name', 'office']
companies = companies.drop('offices', 1)
companies = companies.merge(offices, on='name', how='outer')

In [9]:
companies.head(3)

,name,permalink,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,...,overview,relationships,competitions,providerships,total_money_raised,funding_rounds,investments,milestones,ipo,office
0,Geni,geni,http://www.geni.com,http://blog.geni.com,http://blog.geni.com/index.rdf,geni,web,18,2006,6.0,...,<p>Geni is an online community of casual and e...,"[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Ancestry', 'permalin...",[],$16.5M,"[{'id': 6, 'round_code': 'a', 'source_url': ''...",[],"[{'id': 15460, 'description': 'Announced hire ...",None,"{'description': 'Headquarters', 'address1': '9..."
1,Digg,digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60,2004,10.0,...,<p>Digg is a user driven social content websit...,"[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Reddit', 'permalink'...","[{'title': 'Public Relations', 'is_past': True...",$45M,"[{'id': 1, 'round_code': 'b', 'source_url': 'h...",[],"[{'id': 9588, 'description': 'Another Digg Exe...",None,"{'description': None, 'address1': '135 Mississ..."
2,Twitter,twitter,http://twitter.com,http://twitter.com/blog,http://feeds.feedburner.com/TwitterBlog,twitter,social,1300,2006,3.0,...,"<p>Created in 2006, Twitter is a global real-t...","[{'is_past': False, 'title': 'CEO', 'person': ...","[{'competitor': {'name': 'Digg', 'permalink': ...","[{'title': 'Hosting', 'is_past': True, 'provid...",$1.16B,"[{'id': 261, 'round_code': 'a', 'source_url': ...",[],"[{'id': 1, 'description': 'Survives iPhone 3G ...","{'valuation_amount': 18100000000, 'valuation_c...","{'description': '', 'address1': '1355 Market S..."

In [10]:
#try except aÃ±adir

def createLat(office):
    return office['latitude']
def createLon(office):
    return office['longitude']

companies['lat'] = companies['office'].apply(createLat)
companies['long'] = companies['office'].apply(createLon)
companies.dropna(subset=['lat', 'long'], inplace=True)

In [11]:
companies.head(3)

,name,permalink,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,...,competitions,providerships,total_money_raised,funding_rounds,investments,milestones,ipo,office,lat,long
0,Geni,geni,http://www.geni.com,http://blog.geni.com,http://blog.geni.com/index.rdf,geni,web,18,2006,6.0,...,"[{'competitor': {'name': 'Ancestry', 'permalin...",[],$16.5M,"[{'id': 6, 'round_code': 'a', 'source_url': ''...",[],"[{'id': 15460, 'description': 'Announced hire ...",None,"{'description': 'Headquarters', 'address1': '9...",34.090368,-118.393064
1,Digg,digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60,2004,10.0,...,"[{'competitor': {'name': 'Reddit', 'permalink'...","[{'title': 'Public Relations', 'is_past': True...",$45M,"[{'id': 1, 'round_code': 'b', 'source_url': 'h...",[],"[{'id': 9588, 'description': 'Another Digg Exe...",None,"{'description': None, 'address1': '135 Mississ...",37.764726,-122.394523
2,Twitter,twitter,http://twitter.com,http://twitter.com/blog,http://feeds.feedburner.com/TwitterBlog,twitter,social,1300,2006,3.0,...,"[{'competitor': {'name': 'Digg', 'permalink': ...","[{'title': 'Hosting', 'is_past': True, 'provid...",$1.16B,"[{'id': 261, 'round_code': 'a', 'source_url': ...",[],"[{'id': 1, 'description': 'Survives iPhone 3G ...","{'valuation_amount': 18100000000, 'valuation_c...","{'description': '', 'address1': '1355 Market S...",37.776805,-122.416924

In [12]:
def createGeoJson(office):
    return {
        "type":"Point",
        "coordinates":[office["long"],office["lat"]]
    }

companies.dropna(subset=['lat', 'long'], inplace=True)
companies['position'] = companies.apply(createGeoJson, axis=1)
display(companies.head(3))
companies.shape

,name,permalink,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,...,providerships,total_money_raised,funding_rounds,investments,milestones,ipo,office,lat,long,position
0,Geni,geni,http://www.geni.com,http://blog.geni.com,http://blog.geni.com/index.rdf,geni,web,18,2006,6.0,...,[],$16.5M,"[{'id': 6, 'round_code': 'a', 'source_url': ''...",[],"[{'id': 15460, 'description': 'Announced hire ...",None,"{'description': 'Headquarters', 'address1': '9...",34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,..."
1,Digg,digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60,2004,10.0,...,"[{'title': 'Public Relations', 'is_past': True...",$45M,"[{'id': 1, 'round_code': 'b', 'source_url': 'h...",[],"[{'id': 9588, 'description': 'Another Digg Exe...",None,"{'description': None, 'address1': '135 Mississ...",37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
2,Twitter,twitter,http://twitter.com,http://twitter.com/blog,http://feeds.feedburner.com/TwitterBlog,twitter,social,1300,2006,3.0,...,"[{'title': 'Hosting', 'is_past': True, 'provid...",$1.16B,"[{'id': 261, 'round_code': 'a', 'source_url': ...",[],"[{'id': 1, 'description': 'Survives iPhone 3G ...","{'valuation_amount': 18100000000, 'valuation_c...","{'description': '', 'address1': '1355 Market S...",37.776805,-122.416924,"{'type': 'Point', 'coordinates': [-122.4169244..."

(2283, 31)

In [13]:
import re

def authRequest(url):
    response = requests.get("{}".format(url))
    return response.json()

converter = authRequest('https://api.exchangeratesapi.io/latest?base=USD')['rates']


def currencyconverter(txt, converter):
    txt = [float(re.sub("[^0-9.]", "", txt)), re.sub("[0-9.]", "", txt)]
    abrev = {"M": "million","B": "billion", "kr": "SEK", "k": "thousand", "â‚¬": "EUR", "Â£": "GBP", "C$": "CAD", "$": ""}
    scales = {"billion": 1000000000, "million": 1000000, "thousand": 1000}
    currencies = {"kr": "SEK", "â‚¬": "EUR", "Â£": "GBP", "C$": "CAD"}
    for k, v in abrev.items():
        txt[1] = txt[1].replace(k, v)
    for k, v in scales.items():
        if k in txt[1]:
            txt[0] = txt[0] * v
    for v in list(currencies.values()):
        if v in txt[1]:
            txt[0] = txt[0]/converter[v]
    return int(txt[0])

In [14]:
converter

{'CAD': 1.3252651618,
 'HKD': 7.8203245399,
 'ISK': 123.6515275134,
 'PHP': 52.2998821503,
 'DKK': 6.7691052488,
 'HUF': 300.8974707642,
 'CZK': 23.4629679993,
 'GBP': 0.8023751246,
 'RON': 4.2922672468,
 'SEK': 9.6730124195,
 'IDR': 14039.9963738555,
 'INR': 71.6004895295,
 'BRL': 4.0919227631,
 'RUB': 64.0379838637,
 'HRK': 6.7033813797,
 'JPY': 107.8415374853,
 'THB': 30.5248844166,
 'CHF': 0.9910252924,
 'EUR': 0.9065361255,
 'MYR': 4.178043695,
 'BGN': 1.7730033542,
 'TRY': 5.7148943885,
 'CNY': 7.0670836733,
 'NOK': 8.9786057474,
 'NZD': 1.5704831838,
 'ZAR': 14.640377119,
 'USD': 1.0,
 'MXN': 19.4268878615,
 'SGD': 1.374127459,
 'AUD': 1.4553530958,
 'ILS': 3.5375759224,
 'KRW': 1184.0540295531,
 'PLN': 3.9199528601}

In [15]:
#Â advancesd apply
companies['total_money_raised'] = companies.apply(lambda df: currencyconverter(df['total_money_raised'], converter), 
                                                                        axis=1)

In [16]:
display(companies)

,name,permalink,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,founded_month,...,providerships,total_money_raised,funding_rounds,investments,milestones,ipo,office,lat,long,position
0,Geni,geni,http://www.geni.com,http://blog.geni.com,http://blog.geni.com/index.rdf,geni,web,18,2006,6.0,...,[],16500000,"[{'id': 6, 'round_code': 'a', 'source_url': ''...",[],"[{'id': 15460, 'description': 'Announced hire ...",None,"{'description': 'Headquarters', 'address1': '9...",34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,..."
1,Digg,digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,60,2004,10.0,...,"[{'title': 'Public Relations', 'is_past': True...",45000000,"[{'id': 1, 'round_code': 'b', 'source_url': 'h...",[],"[{'id': 9588, 'description': 'Another Digg Exe...",None,"{'description': None, 'address1': '135 Mississ...",37.764726,-122.394523,"{'type': 'Point', 'coordinates': [-122.394523,..."
2,Twitter,twitter,http://twitter.com,http://twitter.com/blog,http://feeds.feedburner.com/TwitterBlog,twitter,social,1300,2006,3.0,...,"[{'title': 'Hosting', 'is_past': True, 'provid...",1160000000,"[{'id': 261, 'round_code': 'a', 'source_url': ...",[],"[{'id': 1, 'description': 'Survives iPhone 3G ...","{'valuation_amount': 18100000000, 'valuation_c...","{'description': '', 'address1': '1355 Market S...",37.776805,-122.416924,"{'type': 'Point', 'coordinates': [-122.4169244..."
3,Scribd,scribd,http://scribd.com,http://blog.scribd.com/,http://blog.scribd.com/feed/,scribd,news,50,2007,NaN,...,[],25800000,"[{'id': 10, 'round_code': 'seed', 'source_url'...",[],"[{'id': 4960, 'description': 'Scribd launches ...",None,"{'description': 'HQ', 'address1': '539 Bryant ...",37.789634,-122.404052,"{'type': 'Point', 'coordinates': [-122.404052,..."
4,MeetMoi,meetmoi,http://www.meetmoi.com,,,meetmoi,social,15,2007,NaN,...,[],5580000,"[{'id': 18, 'round_code': 'a', 'source_url': '...",[],[],None,"{'description': None, 'address1': '', 'address...",40.757929,-73.985506,"{'type': 'Point', 'coordinates': [-73.985506, ..."
5,Facebook,facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299,2004,2.0,...,"[{'title': '', 'is_past': False, 'provider': {...",2430000000,"[{'id': 2, 'round_code': 'angel', 'source_url'...","[{'funding_round': {'round_code': 'seed', 'sou...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...","{'description': 'Headquarters', 'address1': '1...",37.416050,-122.151801,"{'type': 'Point', 'coordinates': [-122.151801,..."
6,Facebook,facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299,2004,2.0,...,"[{'title': '', 'is_past': False, 'provider': {...",2430000000,"[{'id': 2, 'round_code': 'angel', 'source_url'...","[{'funding_round': {'round_code': 'seed', 'sou...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...","{'description': 'Europe HQ', 'address1': '', '...",53.344104,-6.267494,"{'type': 'Point', 'coordinates': [-6.267494, 5..."
7,Facebook,facebook,http://facebook.com,http://blog.facebook.com,http://blog.facebook.com/atom.php,facebook,social,5299,2004,2.0,...,"[{'title': '', 'is_past': False, 'provider': {...",2430000000,"[{'id': 2, 'round_code': 'angel', 'source_url'...","[{'funding_round': {'round_code': 'seed', 'sou...","[{'id': 108, 'description': 'Facebook adds com...","{'valuation_amount': 104000000000, 'valuation_...","{'description': 'New York', 'address1': '340 M...",40.755716,-73.979247,"{'type': 'Point', 'coordinates': [-73.9792469,..."
8,Powerset,powerset,http://powerset.com,http://blog.powerset.com/,http://blog.powerset.com/atom.xml,Powerset,search,60,2006,10.0,...,"[{'title': '', 'is_past': False, 'provider': {...",22500000,"[{'id': 22, 'round_code': 'a', 'source_url': '...",[],[],None,"{'description': None, 'address1': '475 Brannan...",37.778613,-122.395289,"{'type': 'Point', 'coordinates': [-122.395289,..."
9,AddThis,addthis,http://www.addthis.com,http://addthis.com/blog,http://addthis.com/blog/feed,addthis,advertising,120,2004,NaN,...,"[{'title': '', 'is_past': False, 'provider': {...",73000000,"[{'id': 27, 'round_code': 'a', 'source_url': '...",[],"[{'id': 19071, 'description': 'Acquired XGraph...",None,"{'description': 'HQ - Virginia', 'address1': '...",38.926172,-77.245195,"{'type': 'Point', 'coordinates': [-77.245195, ..."
10,AddThis,addthis,http://www.addthis.com,http://addthis.com/blog,http://addthis.com/blog/feed,addthis,advertising,120,2004,NaN,...,"[{'title': '', 'is_past': False, 'provider': {...",73000000,"[{'id': 27, 'round_code': 'a', 'source_url': '...",[],"[{'id': 19071, 'description': 'Acquired XGraph...",None,"{'description': 'New York Office', 'address1':...",40.724604,-73.996876,"{'type': 'Point', 'coordinates': [-73.996876, ..."
11,AddThis,addthis,http://www.addthis.com,http://addthis.com/blog,http://addthis.com/blog/feed,addthis,advertising,120,2004,NaN,...,"[{'title': '', 'is_past': False, 'provider': {...",73000000,"[{'id': 27, 'round_code': 'a', 'source_url': '...",[],"[{'id': 19071, 'description': 'Acquired XGraph...",None,"{'description': 'Los Angeles Office', 'address...",34.026302,-118.380954,"{'type': 'Point', 'coordinates': [-118.380954,..."
14,AddThis,addthis,http://www.addthis.com,http://addthis.com/blog,http://addthis.com/blog/feed,addthis,advertising,120,2004,NaN,...,"[{'title': '', 'is_past': False, 'provider': {...",73000000,"[{'id': 27, 'round_code': 'a', 'source_url': '...",[],"[{'id': 19071, 'description': 'Acquired XGraph...",None,"{'description': 'Michigan Office', 'address1':...",42.557958,-83.167884,"{'type': 'Point', 'coordinates': [-83.167884, ..."
15,Mahalo,mahalo,http://mahalo.com,http://blog.mahalo.com/,http://blog.mahalo.com/feed/,MahaloDotCom,web,40,2007,3.0,...,[],21000000,"[{'id': 323, 'round_code': 'a', 'source_url': ...",[],[],None,"{'description': '', 'address1': '3525 Eastham ...",34.017606,-118.487267,"{'type': 'Point', 'coordinates': [-118.487267,..."
16,OpenX,openx,http://www.openx.com,http://www.openx.com/blog,,OpenX,advertising,305,2008,5.0,...,[],75500000,"[{'id': 31, 'round_code': 'a', 'source_url': '...",[],"[{'id': 21834, 'description': 'Acquisition of ...",None,"{'description': 'Headquarters', 'address1': '8...",34.149471,-118.132747,"{'type': 'Point', 'coordinates': [-118.1327468..."
21,Kyte,kyte,http://www.kyte.com,http://kyte.com/blog,http://feeds.feedburner.com/kyte_blog,kyte,games_video,40,2006,12.0,...,[],23400000,"[{'id': 32, 'round_code': 'a', 'source_url': '...",[],[],None,"{'description': None, 'address1': '442 Post St...",37.788482,-122.409173,"{'type': 'Point', 'coordinates': [-122.409173,..."
22,Jingle Networks,jingle-networks,http://jinglenetworks.com,,,Marchex,mobile,35,2005,9.0,...,"[{'title': 'Public Relations', 'is_past': Fals...",88700000,"[{'id': 36, 'round_code': 'c', 'source_url': '...",[],"[{'id': 6110, 'description': 'Jingle Networks ...",None,"{'description': '', 'address1': '475 Park Ave ...",37.480999,-122.173887,"{'type': 'Point', 'coordinates': [-122.173887,..."
23,LifeLock,lifelock,http://www.lifelock.com,http://blog.lifelock.com,,LifeLock,security,644,2005,8.0,...,[],178000000,"[{'id': 39, 'round_code': 'b', 'source_url': '...",[],"[{'id': 8415, 'description': 'LifeLock recogni...","{'valuation_amount': None, 'valuation_currency...","{'description': '', 'address1': '60 E. Rio Sal...",33.429859,-111.938739,"{'type': 'Point', 'coordinates': [-111.938739,..."
24,Jajah,jajah,http://jajah.com,http://blog.jajah.com,http://blog.jajah.com/index.php?/feeds/index.rss2,jajah,mobile,110,2005,1.0,...,[],33000000,"[{'id': 78, 'round_code': 'c', 'source_url': '...",[],"[{'id': 103, 'description': 'Gizmo5 Partners w...",None,"{'description': 'Jajah HQ', 'address1': '2513 ...",37.423390,-122.089951,"{'type': 'Point', 'coordinates': [-122.0899512..."
25,Livestream,livestream,http://www.livestream.com,http://www.livestream.com/blog/,http://www.livestream.com/blog/?feed=rss2,livestream,games_video,120,2007,5.0,...,[],14700000,"[{'id': 530, 'round_code': 'angel', 'source_ur...",[],[],None,"{'description': 'Livestream HQ', 'address1': '...",40.726155,-73.995625,"{'type': 'Point', 'coordinates': [-73.995625, ..."
26,AdaptiveBlue,adaptiveblue,http://www.getglue.com,http://blog.adaptiveblue.com,http://blog.adaptiveblue.com/?feed=rss2,GetGlue,games_video,15,2007,NaN,...,[],24000000,"[{'id': 50, 'round_code': 'a', 'source_url': '...",[],[],None,"{'description': '', 'address1': '131 Varick St...",40.801358,-74.337200,"{'type': 'Point', 'coordinates': [-74.3372, 40..."
27,Pando Networks,pando-networks,http://pandonetworks.com,http://www.pandonetworks.com/blog,http://blog.pando.com/?feed=rss2,pandonetworks,games_video,23,2004,7.0,...,"[{'title': 'Public Relations', 'is_past': Fals...",11000000,"[{'id': 1750, 'round_code': 'a', 'source_url':...",[],[],None,"{'description': None, 'address1': '520 Broadwa...",40.722655,-73.998730,"{'type': 'Point', 'coordinates': [-73.99873, 4..."
28,Ustream,ustream,http://www.ustream.tv,http://www.ustream.com/blog,http://www.ustream.com/blog/feed,USTREAM,games_video,250,2007,NaN,...,[],60100000,"[{'id': 1194, 'round_code': 'seed', 'source_ur...",[],"[{'id': 6587, 'description': 'Ustream recogniz...",None,"{'description': 'San Francisco Office', 'addre...",37.392936,-122.079480,"{'type': 'Point', 'coordinates': [-122.07948, ..."
31,Spock,spock,http://www.spock.com,http://blog.spock.com,http://en.blog.wordpress.com/feed/,,search,30,2006,4.0,...,[],7000000,"[{'id': 69, 'round_code': 'a', 'source_url': '...",[],[],None,"{'description': 'QLL COMMUNICATIONS', 'address...",37.488336,-122.217964,"{'type': 'Point', 'coordinates': [-122.217964,..."
32,SodaHead,sodahead,http://sodahead.com,,,SodaHead,web,25,2007,3.0,...,[],12700000,"[{'id': 71, 'round_code': 'a', 'source_url': '...",[],[],None,"{'description': '', 'address1': '16161 Ventura...",37.269175,-119.306607,"{'type': 'Point', 'coordinates': [-119.306607,..."
34,ClipBlast!,clipblast,http://clipblast.com,,,ClipBlast,web,15,2005,1.0,...,"[{'title': 'Public Relations', 'is_past': True...",0,[],[],[],None,"{'description': None, 'address1': '5737 Kanan ...",34.155211,-118.756618,"{'type': 'Point', 'coordinates': [-118.756618,..."
35,Yelp,yelp,http://yelp.com,http://officialblog.yelp.com/,http://naturallylindy.com,Yelp,search,800,2004,7.0,...,"[{'title': '', 'is_past': False, 'provider': {...",90000000,"[{'id': 95, 'round_code': 'c', 'source_url': '...",[],"[{'id': 5336, 'description': 'Yelp Launches in...","{'valuation_amount': 1300000000, 'valuation_cu...","{'description': '', 'address1': '706 Mission S...",37.786183,-122.402195,"{'type': 'Point', 'coordinates': [-122.402195,..."
36,Farecast,farecast,http://www.bing.com/travel,,,fareologist,search,26,2003,1.0,...,[],20600000,"[{'id': 109, 'round_code': 'a', 'source_url': ...",[],[],None,"{'description': None, 'address1': '200 West Th...",47.620982,-122.359397,"{'type': 'Point', 'coordinates': [-122.359397,..."
41,ConVerdge,converdge,http://converdge.com,,,converdgetest,enterprise,25,2006,1.0,...,[],0,[],[],[],None,"{'description': '', 'address1': '', 'address2'...",34.012638,-118.495155,"{'type': 'Point', 'coordinates': [-118.495155,..."
42,Pageflakes,pageflakes,http://www.pageflakes.com,http://www.pageflakes.com/Community/Help/Blog....,http://blog.pageflakes.com/?feed=rss2,Pageflakes,web,20,2006,1.0,...,[],4099999,"[{'id': 117, 'round_code': 'a', 'source_url': ...",[],[],None,"{'description': None, 'address1': '795 Folsom ...",37.758113,-122.414689,"{'type': 'Point', 'coordinates': [-122.414689,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3555,Concord Supplies,concord-supplies,http://www.concordsupplies.com,http://blog.concordsupplies.com,http://feeds.feedburner.com/concordsupplies,concordsupplies,ecommerce,32,2003,10.0,...,[],0,[],[],[],None,"{'description': 'Headquarters', 'address1': '9...",41.980834,-87.982573,"{'type': 'Point', 'coordinates': [-87.9825732,..."
3560,SalesInsight,salesinsight,http://www.salesinsightservices.com,http://salesinsightindia.blogspot.com/,,,consulting,11,2008,10.0,...,[],0,[],[],[],None,"{'description': 'Headquarter', 'address1': 'E1...",28.638243,77.073715,"{'type': 'Point', 'coordinates': [77.0737149, ..."
3562,Testplant,testplant,http://www.testplant.com,http://www.facebook.com/pages/TestPlant-_Updat...,,testplant,software,50,2008,4.0,...,[],2560000,"[{'id': 7135, 'round_code': 'unattributed', 's...",[],"[{'id': 8898, 'description': 'TestPlant has wo...",None,"{'description': 'TestPlant', 'address1': '6 Sn...",51.517356,-0.103774,"{'type': 'Point', 'coordinates': [-0.1037742, ..."
3563,Testplant,testplant,http://www.testplant.com,http://www.facebook.com/pages/TestPlant-_Updat...,,testplant,software,50,2008,4.0,...,[],2560000,"[{'id': 7135, 'round_code': 'unattributed', 's...",[],"[{'id': 8898, 'description': 'TestPlant has wo...",None,"{'description': 'TestPlant', 'address1': '3000...",40.023005,-105.253284,"{'type': 'Point', 'coordinates': [-105.2532841..."
3566,FacebookLicious!,facebooklicious,http://www.facebooklicious.com,,,facebooklicious,games_video,30,2007,10.0,...,"[{'title': 'Online Transactions', 'is_past': F...",0,[],[],[],None,"{'description': 'Facebooklicious Office.', 'ad...",39.612223,-75.696706,"{'type': 'Point', 'coordinates': [-75.696706, ..."
3567,Clickom,clickom,http://www.clickom.ca,,,clickom,ecommerce,11,2009,1.0,...,"[{'title': 'Merchant Service', 'is_past': Fals...",0,[],[],[],None,"{'description': 'Main Office', 'address1': '36...",43.650299,-79.376269,"{'type': 'Point', 'coordinates': [-79.3762688,..."
3568,Homesnap,homesnap,http://www.homesnap.com,http://blog.homesnap.com/,,homesnap,analytics,18,2008,1.0,...,[],5500000,"[{'id': 7146, 'round_code': 'seed', 'source_ur...",[],"[{'id': 7397, 'description': 'Sawbuck Realty n...",None,"{'description': 'HQ', 'address1': '5335 Wiscon...",38.960381,-77.084811,"{'type': 'Point', 'coordinates': [-77.084811, ..."
3570,UCWeb,ucweb,http://www.ucweb.com,,,UCBrowser,software,1700,2004,NaN,...,[],0,"[{'id': 7180, 'round_code': 'c', 'source_url':...",[],"[{'id': 35730, 'description': 'Opened U.S. off...",None,"{'description': 'Guangzhou Headquarter', 'addr...",23.133754,113.385331,"{'type': 'Point', 'coordinates': [113.3853308,..."
3573,UCWeb,ucweb,http://www.ucweb.com,,,UCBrowser,software,1700,2004,NaN,...,[],0,"[{'id': 7180, 'round_code': 'c', 'source_url':...",[],"[{'id': 35730, 'description': 'Opened U.S. off...",None,"{'description': 'U.S. Office', 'address1': '82...",37.781476,-122.401322,"{'type': 'Point', 'coordinates': [-122.4013217..."
3574,Culture Jam,culture-jam,http://site.promojam.com,http://promojam.tumblr.com/,,culturejam,web,15,2008,7.0,...,[],1700000,"[{'id': 7195, 'round_code': 'angel', 'source_u...",[],[],None,"{'description': '', 'address1': '2434 Lincoln ...",34.013715,-118.466060,"{'type': 'Point', 'coordinates': [-118.4660597..."
3575,GreenBytes,greenbytes,http://www.getgreenbytes.com,http://www.getgreenbytes.com/blog,,GetGreenBytes,enterprise,54,2007,NaN,...,[],35000000,"[{'id': 7188, 'round_code': 'a', 'source_url':...",[],[],None,"{'description': 'HQ', 'address1': 'The Foundry...",41.829229,-71.421059,"{'type': 'Point', 'coordinates': [-71.421059, ..."
3580,Novera,novera,http://www.novera.com.au,,,,software,10,2006,8.0,...,[],0,[],[],[],None,"{'description': '', 'address1': 'Level 4', 'ad...",-33.868898,151.202966,"{'type': 'Point', 'coordinates': [151.202966, ..."
3581,BizSphere,bizsphere,http://www.bizsphere.com,http://www.bizsphere.com/blog/,http://www.bizsphere.com/blog/feed/,bizsphere,enterprise,25,2007,NaN,...,[],0,[],[],[],None,"{'description': 'Stuttgart Headquarters', 'add...",48.781871,9.177304,"{'type': 'Point', 'coordinates': [9.1773043, 4..."
3582,Tiverias Apps,tiverias-apps,http://www.tiveriasapps.com,,,TiveriasApps,software,20,2009,5.0,...,[],0,[],[],[],None,"{'description': 'Tiverias Apps LLC.', 'address...",42.367287,-71.081447,"{'type': 'Point', 'coordinates': [-71.0814466,..."
3583,TxTedge,txtedge,http://www.txtedge.com,,,txtedge,mobile,10,2007,NaN,...,[],0,[],[],[],None,"{'description': 'New York', 'address1': 'PO Bo...",40.908601,-73.046431,"{'type': 'Point', 'coordinates': [-73.0464309,..."
3586,Clavis Technology,clavis-technology,http://www.clavistechnology.com,http://www.clavistechnology.com/news,http://www.clavistechnology.com/feed/,Clavistech,software,50,2007,NaN,...,[],4037345,"[{'id': 7257, 'round_code': 'a', 'source_url':...",[],"[{'id': 7702, 'description': 'Clavis Secures S...",None,"{'description': 'US Office', 'address1': '1 Br...",42.362663,-71.084153,"{'type': 'Point', 'coordinates': [-71.084153, ..."
3588,Applied Language Solutions,applied-language-solutions,http://www.appliedlanguage.com,http://blog.appliedlanguage.com,,,other,100,2003,10.0,...,"[{'title': 'PR', 'is_past': False, 'provider':...",0,[],[],"[{'id': 25035, 'description': 'New Inquiry: In...",None,"{'description': 'US', 'address1': '1435 W Cron...",33.821994,-117.932197,"{'type': 'Point', 'coordinates': [-117.932197,..."
3593,Continuity Engine,continuity-engine,http://www.continuity.net,http://continuityengine.blogspot.com/,,ContinuityEng,software,11,2008,NaN,...,[],7840000,"[{'id': 7328, 'round_code': 'seed', 'source_ur...",[],[],None,"{'description': 'HQ', 'address1': '150 Munson ...",41.327918,-73.243552,"{'type': 'Point', 'coordinates': [-73.2435522,..."
3594,Pipit Interactive,pipit-interactive,http://www.purchlive.com,http://www.twitter.com/pipitpurch,,purchlive,ecommerce,10,2008,9.0,...,[],900000,"[{'id': 7331, 'round_code': 'angel', 'source_u...",[],[],None,"{'description': 'Los Angeles', 'address1': '10...",34.045499,-118.470360,"{'type': 'Point', 'coordinates': [-118.47036, ..."
3596,Swiftprosys,swiftprosys,http://www.swiftprosys.com,,,,other,180,2005,NaN,...,[],0,[],[],[],None,"{'description': 'Europe Office', 'address1': '...",48.916468,2.374971,"{'type': 'Point', 'coordinates': [2.3749707, 4..."
3605,SheKnows,sheknows,http://www.sheknows.com,,,sheknows,news,200,2003,11.0,...,[],0,[],[],"[{'id': 9418, 'description': 'Acquired by Atom...",None,"{'description': 'Company Headquarters', 'addre...",33.632230,-111.903689,"{'type': 'Point', 'coordinates': [-111.9036895..."
3610,ALOT,alot,http://www.alot.com,,,,software,50,2007,NaN,...,[],0,[],[],[],None,"{'description': '', 'address1': '143 Varick St...",40.726160,-74.006023,"{'type': 'Point', 'coordinates': [-74.006023, ..."
3611,Track and Locate,track-and-locate,http://www.trackandlocate.net,http://www.trackandlocate.net/blog/,http://www.trackandlocate.net/rss-feed.xml,trackandlocate,security,10,2006,1.0,...,[],0,[],[],[],None,"{'description': 'Track and Locate', 'address1'...",-33.815217,151.002324,"{'type': 'Point', 'coordinates': [151.002324, ..."
3612,Conversition,conversition,http://www.conversition.com,http://www.conversition.com/blog/,,conversition,web,10,2008,12.0,...,[],0,[],[],"[{'id': 6671, 'description': 'Annie Pettit joi...",None,"{'description': 'HQ', 'address1': '', 'address...",40.756054,-73.986951,"{'type': 'Point', 'coordinates': [-73.986951, ..."
3614,Jelli,jelli,http://www.jelli.com,http://jelli.tumblr.com/,,JelliNoise,enterprise,12,2008,9.0,...,"[{'title': '', 'is_past': False, 'provider': {...",16600000,"[{'id': 11002, 'round_code': 'seed', 'source_u...",[],"[{'id': 4316, 'description': 'Public Beta Laun...",None,"{'description': 'Jelli, Inc.', 'address1': '4 ...",37.559090,-122.321836,"{'type': 'Point', 'coordinates': [-122.321836,..."
3615,PubliAtis,publiatis,http://www.publiatis.com,,,publiatis,software,10,2006,3.0,...,[],1103099,"[{'id': 7351, 'round_code': 'unattributed', 's...",[],[],None,"{'description': 'World Headquarters', 'address...",48.869995,2.340695,"{'type': 'Point', 'coordinates': [2.3406954, 4..."

In [17]:
#Importar archivo json a Mongo
# mongoimport --db companies --collection selected --jsonArray offices.json
companies.to_json('./offices.json', orient="records")

In [97]:
#creo lista de TODAS las coordenadas para probarlas todas y ver cuÃ¡l tiene mÃ¡s empresas de las de selected alrededor
#creador de coord list pero no cogiendo dos sitios que estÃ©n cerca!

def coord_list_creator(df):
    coord_list = []
    coord_shortlist = []
    for i in range(len(df.index)):
        coord = [df.iloc[i]["position"]['coordinates'][0],df.iloc[i]["position"]['coordinates'][1]]
        coord_short = [round(df.iloc[i]["position"]['coordinates'][0]),round(df.iloc[i]["position"]['coordinates'][1])]
        if coord_short not in coord_shortlist:
            coord_list.append(coord)
            coord_shortlist.append(coord_short)
    return coord_list

In [98]:
coord_list = coord_list_creator(companies)
print(len(coord_list))
coord_list

310

[[-118.393064, 34.090368],
 [-122.394523, 37.764726],
 [-73.985506, 40.757929],
 [-122.151801, 37.41605],
 [-6.267494, 53.344104],
 [-77.245195, 38.926172],
 [-83.167884, 42.557958],
 [-111.938739, 33.429859],
 [-119.306607, 37.269175],
 [-118.756618, 34.155211],
 [-122.359397, 47.620982],
 [-0.1356235, 51.5094731],
 [2.34668, 48.870806],
 [-122.511687, 37.90077],
 [6.1329985, 49.6026778],
 [-71.076869, 42.350571],
 [-117.206292, 32.872081],
 [-97.717667, 30.407545],
 [-119.641821, 34.42071],
 [-97.5736, 35.612679],
 [-79.462703, 40.30305],
 [4.8919457, 52.3640933],
 [18.1582777, 59.3167843],
 [-46.679287, -23.558584],
 [-74.761403, 40.270666],
 [34.851612, 31.046051],
 [-79.549577, 43.76969],
 [-105.276843, 40.010492],
 [-86.130347, 39.998641],
 [-72.188584, 41.53155],
 [-79.338246, 43.7192415],
 [-94.597896, 39.044694],
 [-81.879069, 26.580095],
 [11.5582609, 48.1635092],
 [121.4770384, 31.222622],
 [-93.4094629, 44.865243],
 [-111.777531, 40.357978],
 [-79.420926, 38.003376],
 [-111.9035, 33.8171],
 [-122.675448, 45.5241278],
 [-73.566634, 45.506643],
 [-87.63406, 41.890376],
 [-3.632687, 40.530724],
 [-95.712891, 37.09024],
 [-83.734673, 42.292649],
 [13.398694, 52.523402],
 [12.571492, 55.6839208],
 [-1.721287, 52.146853],
 [-80.916109, 35.139441],
 [-84.03398, 34.105226],
 [2.213749, 46.227638],
 [-78.902115, 35.996157],
 [34.7595, 32.0554],
 [-73.4168779, 41.1010914],
 [-71.137784, 42.524527],
 [-96.848836, 33.020526],
 [16.5692822, 49.2259017],
 [88.363895, 22.572646],
 [15.625419, 58.415755],
 [9.98793, 53.555554],
 [-85.717393, 38.257035],
 [-123.095238, 49.285173],
 [77.628576, 12.933644],
 [-80.064158, 26.524058],
 [114.1587983, 22.2799907],
 [-70.262434, 43.65467],
 [-80.271378, 25.705057],
 [-82.3230981, 29.6502461],
 [151.216427, -33.884685],
 [-121.04442, 38.673971],
 [12.507358, 41.980591],
 [144.9868546, -37.8026587],
 [13.4469031, 52.4986199],
 [36.42735, 52.78945],
 [-0.3016459, 51.4140631],
 [116.395833, 39.905556],
 [13.813313, 56.154292],
 [-157.8086025, 21.30829],
 [-81.1274, 29.4748],
 [14.4972218, 46.0607926],
 [24.603189, 56.879635],
 [4.366056, 50.866473],
 [-100.076888, 31.169036],
 [9.285378, 45.587212],
 [-3.6952896, 40.43094],
 [-115.242203, 36.180757],
 [-80.5185367, 43.4599388],
 [103.84435, 1.278031],
 [2.1299487, 41.388769],
 [77.087502, 28.682042],
 [-75.834151, 45.352255],
 [78.434422, 17.415429],
 [16.5497, 59.6107652],
 [-86.776051, 36.030702],
 [-58.3708904, -34.5967236],
 [-74.0632101, 4.7595921],
 [-56.1819444, -34.8836111],
 [-59.1340915, -37.3281072],
 [-58.9871056, -27.4533887],
 [-65.3024825, -26.8007888],
 [-62.2690974, -38.7211371],
 [-113.493698, 53.540941],
 [-116.3908, 43.6124],
 [-77.467129, 43.0594],
 [-4.271165, 55.862878],
 [74.84256, 12.86936],
 [12.461425, 41.823172],
 [-111.900917, 40.622919],
 [6.921546, 50.945289],
 [6.124424, 46.223157],
 [90.407143, 23.709921],
 [-76.029511, 40.977855],
 [8.550481, 47.392111],
 [80.2586406, 13.1620756],
 [-95.390758, 29.735082],
 [-122.462093, 45.63256],
 [-94.159452, 45.560899],
 [-86.27604, 41.601645],
 [-82.728466, 28.262756],
 [-72.6003, 42.5878],
 [8.407167, 49.009455],
 [-0.919424, 50.8472228],
 [-106.646185, 35.086388],
 [12.428383, 45.564237],
 [-82.995226, 39.956101],
 [-63.127845, 46.234315],
 [-79.9208632, 32.8537777],
 [-89.571813, 40.76652],
 [114.787903, 51.762981],
 [-73.124793, 44.463844],
 [-113.515769, 53.544711],
 [-57.5582444, -38.0060917],
 [-81.094231, 32.080963],
 [153.047052, -27.467878],
 [-43.954223, -19.815731],
 [-81.4128706, 30.3592737],
 [-77.0551909, -12.0805011],
 [24.768664, 59.437214],
 [-87.28938, 30.396918],
 [72.8367776, 18.9978594],
 [-76.458553, 42.485193],
 [4.4574464, 51.9047086],
 [75.7664384, 26.891551],
 [-82.045178, 28.02998],
 [-0.377068, 39.469301],
 [-81.0057386, 46.4433096],
 [2.531457, 48.927697],
 [14.235889, 40.838338],
 [13.776354, 51.055992],
 [-70.566466, -33.42536],
 [-98.692465, 29.743772],
 [15.278442, 48.137693],
 [-73.580782, 45.475206],
 [1.996567, 41.792265],
 [-64.773577, 46.11384],
 [174.774682, -41.296454],
 [11.003518, 49.596464],
 [-5.996295, 37.38264],
 [-0.484756, 38.346041],
 [-4.779152, 37.884727],
 [30.680651, 50.474832],
 [-114.130296, 51.005717],
 [8.492452, 47.384199],
 [-2.354238, 53.385028],
 [-92.812592, 30.232215],
 [-77.585297, 43.158821],
 [77.0789194, 28.4404308],
 [174.7863813, -36.8534764],
 [19.059078, 47.490346],
 [-89.198808, 13.691061],
 [-75.533034, 39.096465],
 [-117.693478, 33.466831],
 [-104.789289, 38.919042],
 [24.714267, 42.133978],
 [-121.8211856, 39.7324184],
 [-4.0305, 5.332],
 [-90.2598684, 38.6501668],
 [-122.692654, 45.48798],
 [-105.9484344, 35.6746751],
 [-9.146273, 38.738542],
 [-5.919693, 54.649575],
 [17.016446, 51.110381],
 [-86.707805, 33.430111],
 [67.0806218, 24.9068278],
 [4.958736, 51.321354],
 [6.845464, 46.465626],
 [76.952187, 8.503696],
 [-95.5302337, 30.0314279],
 [152.778976, -27.621592],
 [-88.271074, 40.1128],
 [35.477456, 38.72784],
 [12.498551, 55.878981],
 [-121.734779, 38.552782],
 [4.830048, 45.792717],
 [-74.693688, 40.606599],
 [-93.625499, 41.587539],
 [5.387345, 43.30758],
 [16.354637, 48.202758],
 [-90.082202, 29.973994],
 [-111.780958, 43.825874],
 [-7.1361044, 53.0102832],
 [50.21028, 26.272541],
 [15.436302, 60.485605],
 [-77.199558, 40.207431],
 [7.850863, 51.029415],
 [11.0823953, 49.4605351],
 [24.9410368, 60.1703094],
 [-75.815542, 45.538651],
 [-0.5264469, 44.8804077],
 [-89.39256, 43.068006],
 [-81.463538, 41.38778],
 [27.207361, 38.462306],
 [-1.6806152, 48.110933],
 [73.8213213, 18.5584318],
 [8.8088823, 53.0785928],
 [13.261829, 47.86582],
 [26.731054, 58.3820542],
 [-4.0991927, 47.9763748],
 [-79.965865, 40.4277409],
 [-43.1698887, -22.9534377],
 [-105.1375908, 40.5293254],
 [-95.9550264, 36.0463849],
 [2.1346593, 49.5332371],
 [-81.6747295, 41.5139193],
 [8.6294777, 50.0832791],
 [-81.699457, 41.4991436],
 [-1.4647953, 53.3830548],
 [-96.183033, 41.238038],
 [-73.782775, 42.856515],
 [-72.114442, 44.867343],
 [-3.1932605, 51.5025565],
 [9.4842369, 51.3130247],
 [0.4198481, 43.1677247],
 [-49.2832886, -25.4343563],
 [0.6553168, 51.5480857],
 [-80.5284226, 43.5058646],
 [-97.7067, 30.5102],
 [-112.458454, 34.600895],
 [-77.5963271, 38.9370838],
 [-58.5511077, -34.4942649],
 [139.1870746, 35.2675117],
 [-78.798947, 42.979367],
 [30.265156, 59.9448495],
 [-1.2186724, 51.7577453],
 [-0.8874201, 41.6820833],
 [-5.6937933, 41.0016627],
 [-85.5949, 44.7408],
 [-123.363909, 48.4244865],
 [-110.825525, 32.222156],
 [-81.375467, 28.396758],
 [-3.1834833, 55.94962],
 [-74.171758, 39.993019],
 [-8.6105703, 42.1638716],
 [106.6412027, 10.8024304],
 [14.4505336, 50.0938491],
 [28.0354352, -26.1470966],
 [-116.7732162, 33.7836802],
 [-82.3996325, 34.849294],
 [-87.342177, 41.5911112],
 [8.5093142, 48.8838843],
 [-84.462021, 39.064647],
 [-80.487328, 43.4496954],
 [9.4901233, 47.6531483],
 [-80.0813118, 42.123563],
 [-82.2927796, 23.066066],
 [-83.0043525, 42.3004224],
 [15.8012365, 45.816128],
 [16.5019494, 43.5052717],
 [9.2169919, 45.4755521],
 [14.513558, 46.0618582],
 [8.5603878, 52.0066973],
 [-96.8098798, 46.9037602],
 [-119.749721, 39.444421],
 [12.2091265, 44.1480034],
 [10.7637668, 59.915256],
 [115.89084, -31.97822],
 [-90.1633006, 32.416174],
 [10.3965843, 43.7161354],
 [14.5403234, 50.6850903],
 [-81.805007, 26.194158],
 [14.5992332, 63.1680749],
 [7.6031626, 47.5546712],
 [15.0656891, 37.5672167],
 [-99.1651395, 19.4164309],
 [77.4589032, 23.2771102],
 [11.5778387, 49.9548993],
 [-122.215892, 47.436988],
 [-76.5245361, 3.4233155],
 [-86.526904, 39.164287],
 [6.6328274, 46.5206291],
 [-78.999391, 33.577569],
 [18.5416342, 54.520135],
 [76.7794179, 30.7333148],
 [-2.1334555, 51.4515283],
 [-80.3821092, 27.6476577],
 [-75.5475795, 39.7488163],
 [-119.368461, 36.35198],
 [-77.844388, 40.830662],
 [100.5517604, 13.7424752],
 [100.882017, 12.9327554],
 [11.4077276, 44.5143838],
 [-94.483334, 39.156427],
 [-100.3760321, 25.6600605],
 [-85.0957662, 34.9790168],
 [107.69033, -6.903247],
 [10.4183586, 53.2615543],
 [26.097879, 44.4479237],
 [-8.44692, 52.5155],
 [55.2373803, 25.1910055],
 [113.3853308, 23.1337544]]

# 2) Filtrado

### 2.1) ImportaciÃ³n BD limpia basada en money raised y keywords close companies

In [124]:
#Volverlo a traer a Jupyter
client = MongoClient('mongodb://localhost:27017/')
db = client.companies

def categories_builder(txt):
    regex = ""
    categories = [cat.strip() for cat in txt.split(",")]
    for e in categories:
        regex += "(?i){}|".format(e)
    return regex[:-1]

#cat_regex = categories_builder(input()) --> en realidad no es input, si no parametros
#escribe los keywords que definan a los sectores de esas empresas
#por ahora lo pongo asÃ­ para ahorrar tiempo y no tener que poner las categorÃ­as todo el rato:
cat_regex = "(?i)tech|(?i)web|(?i)design|(?i)code|(?i)mobile|(?i)advertising"

#lo mismo con el capital raised (en dollars), que es en parametros pero por ahora lo dejo puesto fijo:

min_money_raised = 1000000
                   
selected = db.selected.find({"$and" : [{"total_money_raised": {"$gte": min_money_raised}},
                                                {"$or" : [{"tag_list":{"$regex": cat_regex }}, {"category_code":{"$regex": cat_regex}}, {"name":{"$regex": cat_regex}}, {"description":{"$regex": cat_regex}}, {"overview":{"$regex": cat_regex}}]}]})

selected_df = pd.DataFrame(selected)
#selected_df.dropna(subset=['lat', 'long'], inplace=True)

display(selected_df.head(3))
print(selected_df.shape)

,_id,name,permalink,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,founded_year,...,providerships,total_money_raised,funding_rounds,investments,milestones,ipo,office,lat,long,position
0,5d7e63601ce3a9e7731a4339,Geni,geni,http://www.geni.com,http://blog.geni.com,http://blog.geni.com/index.rdf,geni,web,18,2006,...,[],16500000,"[{'id': 6, 'round_code': 'a', 'source_url': ''...",[],"[{'id': 15460, 'description': 'Announced hire ...",None,"{'description': 'Headquarters', 'address1': '9...",34.090368,-118.393064,"{'type': 'Point', 'coordinates': [-118.393064,..."
1,5d7e63601ce3a9e7731a433a,MeetMoi,meetmoi,http://www.meetmoi.com,,,meetmoi,social,15,2007,...,[],5580000,"[{'id': 18, 'round_code': 'a', 'source_url': '...",[],[],None,"{'description': None, 'address1': '', 'address...",40.757929,-73.985506,"{'type': 'Point', 'coordinates': [-73.985506, ..."
2,5d7e63601ce3a9e7731a433b,Scribd,scribd,http://scribd.com,http://blog.scribd.com/,http://blog.scribd.com/feed/,scribd,news,50,2007,...,[],25800000,"[{'id': 10, 'round_code': 'seed', 'source_url'...",[],"[{'id': 4960, 'description': 'Scribd launches ...",None,"{'description': 'HQ', 'address1': '539 Bryant ...",37.789634,-122.404052,"{'type': 'Point', 'coordinates': [-122.404052,..."

(863, 32)

### 2.2) Utilizar GeoNear function para, dada una lista de todas las coordenadas, ver cuÃ¡ntas empresas tiene cerca de las que hemos seleccionado

In [125]:
#funcion para sacar compaÃ±Ã­as a la redonda
#crear el geoindex en MongoDB Compass
def getCompaniesNear(lat,long, max_meters=2000):
    return list(db.selected.find({
        "position": {
            "$near": {
               "$geometry": {
                  "type": "Point" ,
                  "coordinates": [ long , lat ]
               },
               "$maxDistance": max_meters
             }
       }
    }))


# 1) aqui la base de datos puedo poner la de selected,
# 2) pero longitudes y latitudes coger todas para tener mÃ¡s dÃ³nde mirar -- > crear una lista con todos los geopoints
#de companies!

### 2.3) Create dataframe based on coords which have the most near companies interesting

In [126]:
import numpy as np

def df_creator(lst_coord):
    lst_near = []
    for x in lst_coord:
        lst_near.append([x, len(getCompaniesNear(x[1],x[0]))])
    lst_near.sort(key = lambda x: x[1], reverse = True)
    q = np.quantile([x[1] for x in lst_near], .93)
    df_list = [x for x in lst_near if x[1] >= q]
    df = pd.DataFrame(df_list, columns = ["coords", "near_companies"])
    return df

In [128]:
my_df = df_creator(coord_list)
my_df

                       coords  near_companies
0     [-73.985506, 40.757929]             100
1    [-122.394523, 37.764726]              36
2    [-0.1356235, 51.5094731]              29
3     [-71.076869, 42.350571]              24
4        [2.34668, 48.870806]              23
5      [-87.63406, 41.890376]              20
6      [13.398694, 52.523402]              19
7    [-122.359397, 47.620982]              11
8   [-122.675448, 45.5241278]              10
9      [-3.6952896, 40.43094]              10
10     [-6.267494, 53.344104]               9
11   [-105.276843, 40.010492]               8
12   [-123.095238, 49.285173]               8
13     [-5.919693, 54.649575]               8
14    [-122.151801, 37.41605]               7
15   [121.4770384, 31.222622]               7
16   [151.216427, -33.884685]               7
17    [4.8919457, 52.3640933]               6
18     [-95.712891, 37.09024]               5
19    [12.571492, 55.6839208]               5
20         [34.7595, 32.0554]               5
21    [116.395833, 39.905556]               5
22      [8.492452, 47.384199]               5
23     [-9.146273, 38.738542]               5

# 3) API Google Maps

In [135]:
import time

bego_key = "AIzaSyDztG_aCCXWt1IzyuxC1p9oZYnEXNoPZ94"

def countGoogledata(place, radius, coord, key):
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius={}&keyword={}&key={}".format(str(coord[1]), str(coord[0]), str(radius), place, key)
    data = [(requests.get(url)).json()]
    while "next_page_token" in data[-1]:
        new_url = url+"&pagetoken={}".format(data[-1]['next_page_token'])
        time.sleep(2)
        new_req = (requests.get(str(new_url))).json()
        data.append(new_req)
    total_results = 0
    for x in data:
        total_results += len(x['results'])
    return total_results

#https://developers.google.com/places/web-service/search
#https://developers.google.com/places/web-service/get-api-key
#https://console.cloud.google.com/billing/0163C0-E6306C-B76C83?project=project-ironhack-pymongo
#https://developers.google.com/calendar/v3/pagination

In [150]:
list_count_places = []

def create_hostelry(place, radius, coord, key):
    count = countGoogledata(place, radius, coord, key)
    return count

my_df['hostelry'] =  my_df.apply(lambda x: create_hostelry("starbucks", 1500, x["coords"], bego_key), axis = 1)

60
10
43
30
28
60
9
24
34
29
25
7
24
2
3
37
6
9
0
4
0
5
0
1

In [151]:
my_df

                       coords  near_companies  hostelry
0     [-73.985506, 40.757929]             100        60
1    [-122.394523, 37.764726]              36        10
2    [-0.1356235, 51.5094731]              29        43
3     [-71.076869, 42.350571]              24        30
4        [2.34668, 48.870806]              23        28
5      [-87.63406, 41.890376]              20        60
6      [13.398694, 52.523402]              19         9
7    [-122.359397, 47.620982]              11        24
8   [-122.675448, 45.5241278]              10        34
9      [-3.6952896, 40.43094]              10        29
10     [-6.267494, 53.344104]               9        25
11   [-105.276843, 40.010492]               8         7
12   [-123.095238, 49.285173]               8        24
13     [-5.919693, 54.649575]               8         2
14    [-122.151801, 37.41605]               7         3
15   [121.4770384, 31.222622]               7        37
16   [151.216427, -33.884685]               7         6
17    [4.8919457, 52.3640933]               6         9
18     [-95.712891, 37.09024]               5         0
19    [12.571492, 55.6839208]               5         4
20         [34.7595, 32.0554]               5         0
21    [116.395833, 39.905556]               5         5
22      [8.492452, 47.384199]               5         0
23     [-9.146273, 38.738542]               5         1

# Next

In [ ]:
"""

1) APLICAR EL COUNT GOOGLE DATA A MI DATAFRAME
     --> Duda, tarda mucho!
            - Estoy haciendo algo mal
            - Tengo que coger menos filas en el dataset (son demasiadas?)
            
2) PONER TODO EN FUNCIONES Y PASAR A VISUAL CODE

3) CONECTAR A OTRAS APIs

4) HACER UN RANKING DE LOS DISTINTOS SITIOS (en base a la importancia preguntada al usuario)

5) PIPELINE CON PARAMETERS

"""

In [ ]:
# Dudas: cÃ³mo crear el Index desde python en vez de desde MongoDB compass?
#db.selected.createIndex( { "position" : "2dsphere" } )

In [ ]:
#query alberto con mis propios criterios: founded year 2003??

In [ ]:
# para luego pasarlo a Tableau!!!!! (incluir el centro en la lista)

"""
m = df_filtered[["category_code","lat","long","name"]]
m = m.append({
    "category_code":"center",
    "lat":fifth_avenue[0],
    "long":fifth_avenue[1],
    "name":"CENTER"
},ignore_index=True)
display(m.head(3))

m.to_json('filtered_data.json', orient="records")

"""

In [ ]:
# poner tb cÃ³mo se carga el csv de crunchbase a mongo xt


## TODO's

You recently created a new company in the `GAMING industry`. The company will have the following scheme:

- 20 Designers
- 5 UI/UX Engineers
- 10 Frontend Developers
- 15 Data Engineers
- 5 Backend Developers
- 20 Account Managers
- 1 Maintenance guy that loves basketball
- 10 Executives
- 1 CEO/President

As a data engineer you have asked all the employees to show their preferences on where to place the new office.
Your goal is to place the **new company offices** in the best place for the company to grow.
You have to found a place that more or less covers all the following requirements.
Note that **it's impossible to cover all requirements**, so you have to prioritise at your glance.

- Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design.
- 30% of the company have at least 1 child.
- Developers like to be near successful tech startups that have raised at least 1 Million dollars.
	- la empresa haya conseguido una financiaciÃ³n > 1M
	- empresa que lleve abierta desde antes de 2003
	- mÃ¡s de 10 empleados.
	- empresas del tipo: design, web, software, games_video, mobile, enterprise, analytics, search, network_hosting o photo_video.
- Executives like Starbucks A LOT. Ensure there's a starbucks not to far.
- Account managers need to travel a lot
- All people in the company have between 25 and 40 years, give them some place to go to party.
- Nobody in the company likes to have companies with more than 10 years in a radius of 2 KM.
- The CEO is Vegan

## Help

- Geospatial range Queries in MongoDB with `pymongo`
- GeoJSON Point `{ type: "Point", coordinates: [ 40, 5 ] }`
- Create sphere2d index in python: `db.collection.createIndex( { <location field> : "2dsphere" } )`
- Query `$near` operator: https://docs.mongodb.com/manual/reference/operator/query/near/#op._S_near

## How to deliver the project

- You must justify your decision with tableau slides. Provide us the public tableau link inside a README.md
  file at dir `module-2/project-mongodb-geospartial-queries`.
- Provide `lat` and `long` for the new offices.

## Links & Resources

- https://docs.mongodb.com/manual/geospatial-queries/
- https://developers.google.com/maps/documentation/geocoding/intro
- https://data.crunchbase.com/docs
- https://developers.google.com/places/web-service/search
- https://www.youtube.com/watch?v=PtV-ZnwCjT0


Proceso:
https://github.com/albertogcmr/pymongo-project
Jupiter notebook pymongo-geoqueries-$near.ipynb
https://github.com/boyander/datamad-0819/blob/master/others/geospartial%20queriss.ipynb


----------Apuntes importantes----------

Funciones para convertir:

	$1M  ---> 1000000
	$1K  ---> 1000

	$ ----> dollar
	x -----> libra 
	api de conversiÃ³n de divisas?

API google maps

LOCATIONS
-todas


VALORACIÃ“N
- 1 CEO/President
	- vegan
- 20 Designers: 
	- design talks and share knowledge
	- nearby companies that also do design
- 20 Account Managers:
	- need to travel a lot
- 15 Data Engineers
- 10 Executives:
	- Starbucks not too far
- 10 Frontend Developers
	- near successful tech startups that have raised at least 1 Million dollars.
	- la empresa haya conseguido una financiaciÃ³n > 1M
	- empresa que lleve abierta desde antes de 2003
	- mÃ¡s de 10 empleados.
	- empresas del tipo: design, web, software, games_video, mobile, enterprise, analytics, search, 
- 5 UI/UX Engineers
- 5 Backend Developers
- 1 Maintenance guy that loves basketball

- 30% of the company have at least 1 child.
network_hosting o photo_video.
- All people in the company have between 25 and 40 years, give them some place to go to party.
- Nobody in the company likes to have companies with more than 10 years in a radius of 2 KM.

Input: le metes una localizaciÃ³n y te dice la valoraciÃ³n del sitio para esta empresa en concreto
	---> esto yo para elegir el mejor sitio para mi empresa en concreto
	---> y si me salto este paso?
Input: le metes unos inputs y te dice cuÃ¡l es la mejor localizaciÃ³n para tu empresa
	---> y hago solamente este paso, metiendo mis datos?
	---> creo que lo puedo hacer asÃ­
	---> segÃºn la importancia que tiene para ti?
	---> con lo de los inputs que me contÃ³ jesus?

	PARA STARTUPS
	--->> near companies: (DATABASE)
		--->> raised money (at least $1M)
		--->> sector: design, web, software, games_video, mobile, enterprise, analytics, search
	--->> far from companies: (DATABASE) -- pospuesto
		--->> companies more than 10 years
	--->> close services (schools, supermarket..) (GOOGLE API)
        --->> restaurants/ coffee shops (GOOGLE API)
	--->> events (MEETUP, FORSQUARE, YELP, EVENTBRITE...)




Function gaoling que te enriquece tu base de datos con lo que le vayas preguntando segÃºn una ubicaciÃ³n (explicado en el documento